<!DOCTYPE html>
<html>
<head>
    <title>Modification du model : {{ model.model_name }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <h1>Modification du model : {{ model.model_name }}</h1>
    <p>Voici les informations du model : </p>
    <form action="index.php?controller=models&action=update" method="post">
        <table>
            <tr>
                <td>Nom</td>
                <td>{{ model.model_name }}</td>
                <td><input type="text" name="model_name" value="{{ model.model_name }}" /></td>
            </tr>
            <tr>
                <td>Manufacturer</td>
                <td>{{ model.model_manufacturer }}</td>
                <td><input type="text" name="model_manufacturer" value="{{ model.model_manufacturer }}" /></td>
            </tr>
            <tr>
                <td>Espèce affiliée</td>
                {% for species in species %}
                    {% if species.species_id == model.model_species %}
                        <td>{{ species.species_name }}</td>
                    {% endif %}
                {% endfor %}
                <td><select name="model_species">
                    {% for species in species %}
                        {% if species.species_id == model.model_species %}
                        <option value="{{ species.species_id }}" selected>{{ species.species_name }}</option>
                        {% endif %}
                        {% if species.species_id != model.model_species %}
                        <option value="{{ species.species_id }}">{{ species.species_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Longueur</td>
                <td>{{ model.model_length }}</td>
                <td><input type="text" name="model_length" value="{{ model.model_length }}" /></td>
            </tr>
            <tr>
                <td>Largeur</td>
                <td>{{ model.model_width }}</td>
                <td><input type="text" name="model_width" value="{{ model.model_width }}" /></td>
            </tr>
            <tr>
                <td>Hauteur</td>
                <td>{{ model.model_height }}</td>
                <td><input type="text" name="model_height" value="{{ model.model_height }}" /></td>
            </tr>
            <tr>
                <td>Equipage Minimum</td>
                <td>{{ model.model_minCrew }}</td>
                <td><input type="text" name="model_minCrew" value="{{ model.model_minCrew }}" /></td>
            </tr>
            <tr>
                <td>Equipage Maximum</td>
                <td>{{ model.model_maxCrew }}</td>
                <td><input type="text" name="model_maxCrew" value="{{ model.model_maxCrew }}" /></td>
            </tr>
            <tr>
                <td>Capacité de stockage</td>
                <td>{{ model.model_cargo_capacity }} SCU</td>
                <td><input type="text" name="model_cargo_capacity" value="{{ model.model_cargo_capacity }}" /></td>
            </tr>
            <tr>
                <td>Classe de Vaisseau</td>
                <td>{{ model.model_starship_class }}</td>
                <td><input type="text" name="model_starship_class" value="{{ model.model_starship_class }}" /></td>
            </tr>
        </table>
        <input type="hidden" name="model_id" value="{{ model.model_id }}" />
        <input type="submit" value="Modifier" />
    </form>
    <a href="index.php?controller=models&action=index">Retour à la liste des models</a>
</body>